body {
	/*background-color: #FDDAD8;*/
	background-color: #FCE9E8;
}

.panel .nav {
	margin-top: 20px;
}

.panel a, a:hover, a:visited, a:link, a:active {
	color: #84201D;
	text-decoration: none;
}

.panel-heading {
	background-image: url('/static/img/header.jpg');
	background-position: center center;
	background-size: cover;	
}

.panel-body {
	background-image: url('/static/img/santabot_background.jpg');
	background-position: center bottom;
	background-size: cover;
	min-height: 600px;
	font-size: 1.5em;
}

.container {
	margin-top: 10px;
}

/*.navbar {
	background-color: ;
	color: #FFFFFF;
}
*/
/*.navbar-default .navbar-brand {
	color: #673600;
}

.navbar-default .navbar-nav {
	color: #673600;
}*/
/*
h1 {
	color: #8B3129;
}

h2 {
	color: #736B2D;
}*/