{% extends "base.html" %}
{% block title %}List of Groups{% endblock %}
{% block pagetitle %}List of Groups{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<div class="row block-row">
	{% for group in groups %}
	<div class="col-md-12">
		<h1>{{group.name}}</h1>
    {% with owner = userGet(group.ownerId) %}
    <p>Owner: {{owner.name}} <a href="mailto:{{owner.email}}">&lt;{{owner.email}}&gt;</a></p>
    {% endwith %}
		<p>
			<ul class="list-inline">				
				<li><a href="/group/{{group.key.urlsafe()}}">View</a></li>
        <li>Created <abbr class="timeago" title="{{group.createDate.isoformat()}}Z"></abbr></li>
				{% if group.runDate %}<li>Ran <abbr class="timeago" title="{{group.runDate.isoformat()}}Z"></abbr></li>{% endif %}
				<li><a href="/admin/group/{{group.key.urlsafe()}}">Reveal secrets</a></li>
			</ul>
		</p>
	</div>
	{% endfor %}
</div>
{% endblock %}
