<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Bootstrap X-editable -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <!-- Sweet Alerts -->
    <link href="/static/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">

    <!-- Font So Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
    <!-- Our CSS -->
    <link href="/static/css/santabot.css" rel="stylesheet">
    
    <title>{% block title %}{% endblock %} - SantaBot</title>
    {% endblock %}
</head>
<body>

    <div class="container container-full">
        <div class="panel panel-success">
          <div class="panel-heading base-panel-heading container-fluid">
            <div class="row">
                <div class="col-xs-6">
                  <h1><a href="/">{% block pagetitle %}{% endblock %}</a></h1>
                </div>
                <div class="col-xs-6">
                  <ul class="nav nav-pills pull-right">
                  {% if users.is_current_user_admin() %}
                    <li><a href="/admin"><h4><i class="fa fa-cog"></i></h4></a></li>
                  {% endif %}
                  {% if users.get_current_user() %}
                    <li class="dropdown">                      
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="caret"></b>
                        {% if userRecord %}
                        {{ userRecord.name }}
                        {% else %}
                        {{ users.get_current_user().email() }}
                        {% endif %}
                        <img src="{{ userRecord.getAvatarUrl(size=40) }}" class="img-rounded">
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/profile">profile</a></li>
                        <li><a href="{{users.create_logout_url('/')}}">sign out</a></li>
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{users.create_login_url('/')}}">Sign In</a></li>
                  {% endif %}
                  </ul>
                </div>
            </div>
          </div>
          <div class="panel-body base-panel-body text-center">
            {% block content %}{% endblock %}
          </div>
          <div class="panel-footer">
            <p class="text-muted">
                {% block footer %}
                SantaBot is free and open source software, licensed under the GPL v3. You can find its source code online at <a href="https://github.com/jcjones/santabot"><i class="fa fa-github"></i> github</a>
                {% endblock %}
            </p>
          </div>
        </div>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- Sweet Alerts -->
    <script src="/static/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <!-- X-editable -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>


    {% block scripts %}{% endblock %}
    <script>
    $(function(){
      $("abbr.timeago").timeago();
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category,message in messages %}
      window.setTimeout(function(){
        swal({
            "type": "{{ category }}",
            "title": "{{ message }}"
        });
      }, 500);
      {% endfor %}{% endwith %}
    });
    </script>

</body>
</html>