<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Our CSS -->
    <link href="/static/css/santabot.css" rel="stylesheet">
    
    <title>{% block title %}{% endblock %} - SantaBot of Win</title>
    {% endblock %}
</head>
<body>

    {% include "navbar.html" %}

    <div class="container container-full">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                {% block footer %}
                &copy; Copyright 2014 by Pug</a>.
                {% endblock %}
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sweet Alerts -->
    <script src="/static/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <link href="/static/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">

    {% block scripts %}{% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
    <script>
    $(function(){
        window.setTimeout(function(){
        {% for category,message in messages %}
            swal({
                "type": "{{ category }}",
                "title": "{{ message }}"
            });
        {% endfor %}
        }, 500);
    });
    </script>
      {% endif %}
    {% endwith %}


</body>
</html>