<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font So Awesome -->
    <link href="/static/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!-- Our CSS -->
    <link href="/static/css/santabot.css" rel="stylesheet">
    
    <title>{% block title %}{% endblock %} - SantaBot</title>
    {% endblock %}
</head>
<body>

    <div class="container container-full">
        <div class="panel panel-success">
          <div class="panel-heading base-panel-heading container-fluid">
            <div class="row">
                <div class="col-xs-6">
                  <h1><a href="/">{% block pagetitle %}{% endblock %}</a></h1>
                </div>
                <div class="col-xs-6">
                  <ul class="nav nav-pills pull-right">
                  {% if users.is_current_user_admin() %}
                    <li><a href="/admin">Admin</b></a></li>
                  {% endif %}
                  {% if users.get_current_user() %}
                    <li class="dropdown">                      
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ userRecord.getAvatarUrl(size=40) }}" class="img-rounded">
                        {% if userRecord %}
                        {{ userRecord.name }}
                        {% else %}
                        {{ users.get_current_user().email() }}
                        {% endif %}
                        <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="/profile">profile</a></li>
                        <li><a href="{{users.create_logout_url('/')}}">sign out</a></li>
                      </ul>
                    </li>
                  {% else %}
                    <li><a href="{{users.create_login_url('/')}}">Sign In</a></li>
                  {% endif %}
                  </ul>
                </div>
            </div>
          </div>
          <div class="panel-body base-panel-body text-center">
            {% block content %}{% endblock %}
          </div>
          <div class="panel-footer">
            <p class="text-muted">
                {% block footer %}
                SantaBot is free and open source software, licensed under the GPL v3. You can find its source code online at <a href="https://github.com/jcjones/santabot"><i class="fa fa-github"></i> github</a>
                {% endblock %}
            </p>
          </div>
        </div>        
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sweet Alerts -->
    <script src="/static/bootstrap-sweetalert/lib/sweet-alert.js"></script>
    <link href="/static/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">

    {% block scripts %}{% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
    <script>
    $(function(){
        {% for category,message in messages %}
        window.setTimeout(function(){
          swal({
              "type": "{{ category }}",
              "title": "{{ message }}"
          });
        }, 500);
        {% endfor %}
    });
    </script>
      {% endif %}
    {% endwith %}


</body>
</html>