<p>Hey there {{name}},</p>

<p>You are registered for the Secret Santa group <a href="{{groupPage}}">{{groupName}}</a>. Others should be registering at <a href="{{groupPage}}">{{groupPage}}</a>, and when the administrator thinks everyone's in, you'll get an email for the next step. You can send this link to others to invite them to the party; it's an open system.</p>

<p>Sneak preview: You'll write your wish list, and you can even opt out of being Santa for a couple of other participants if you choose.</p>

<p>We'll talk to you later. Keep an eye out.</p>

<p>&mdash;The SantaBot</p>