<p>Hello again {{name}},</p>

<p>It's time for you to write your wish list for <a href="{{groupPage}}">{{groupName}}</a>, and you can also exclude yourself from a couple of other registrants if you choose.</p>

<p>You need to do this for things to move forward. I'll bug you if you don't do it soon. Don't test me. Click this link: <a href="{{groupPage}}">{{groupPage}}</a>.</p>

<p>When you've done this, all that's left is getting back the results. So let's keep it going, eh?</p>

<p>&mdash;The SantaBot</p>