{% extends "base.html" %}
{% block title %}{{group.name}}{% endblock %}
{% block pagetitle %}{{group.name}}{% endblock %}

{% block content %}

{% include 'group-owner.html' %}

{% if not myReg %}
  <p>I'm sorry, registration for this group is closed.</p>
{% else %}
  {% if myReg.completionDate  %}
    <p class="lead">Hey there.</p>
    <p>You've wrote your list at <code>{{myReg.completionDate}}</code>, so you're done for now. As soon as everyone else has written their lists you'll get an email at {{userRecord.email}} with your giftee and what they want for the holiday.</p>
    <p>Sit tight.</p>

    <p>As of now, these people <em>haven't</em> written their lists:</p>
    <div class="row">
      {% for reg in registrants %}
      {% if not reg.completionDate %}
      <div class="col-md-6">
        <h3><img src="{{reg.person.get().getAvatarUrl(size=40)}}" class="img-rounded">
        {{reg.person.get().name}}</h3>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>Welcome back. We need you to write your list for your Santa. Also, you can specify up to two people as folks whom you do <strong>not</strong> want to be Santa for.</p>

    <div class="form-group" id="messageBlock">
          <label for="message">Write a message to your Secret Santa about how good you've been and what you want. You should <em>strongly</em> consider pasting in links to a wishlist or things you want.</label>
      <textarea id="message" class="form-control" rows="3">Message for Santa</textarea>
    </div>

    <label for="prohibited">Who do you want to be Santa for? You may opt out from up to two people. The elves won't tell.</label>
    {% if others %}    
    <div id="prohibited" class="form-group row">
      {% for person in others %}
      <div class="col-md-4">
        
        <div class="onoffswitch">        
          <input type="checkbox" id="{{person.key.urlsafe()}}" class="onoffswitch-checkbox prohibited" value="{{person.key.urlsafe()}}" checked>
          <label class="onoffswitch-label" for="{{person.key.urlsafe()}}">            
              {{person.name}} <img src="{{person.getAvatarUrl(size=20)}}" class="img-rounded">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
              
          </label>            
        </div>
      </div>
      {% endfor %}
    </div>
      <button id="ready" type="submit" class="btn btn-primary">I'm ready</button>
    {% else %}
    <div>
    Looks like you're the only person in the group. I hope you're testing things.
    </div>
    {% endif %}
  {% endif %}

{% endif %}
{% endblock %}

{% block scripts %}
<script>
function countWords(str) {
  return str.split(/\s+/).length;
}

$(document).ready(function(){
    $("#message").click(function(obj){
      if ($(this).attr("reset")) {
        return;
      }
        $(this).val("");
        $(this).attr("reset", true);
    });

    $("#ready").click(function(){
      // Verify no more than two selected
      unchecked = []
      $(".prohibited:checkbox").each(function(){
        unchecked.push($(this).val())
      });

    $(".prohibited:checkbox:checked").each(function(){
      var idx = unchecked.indexOf($(this).val());
        if (idx !== -1) {
            unchecked.splice(idx, 1);
        }
      });
      
    if (unchecked.length > 2) {
      $("#prohibited").addClass("has-error");
      console.log("Unchecked more than 2 people: ", unchecked)
      swal({   
        title: "You can only opt out of up to two people.",
        text: "Sorry, rules. You know, I'm a robot.",
        type: "error"
      });
      return;
    } else {
      $("#prohibited").removeClass("has-error");
    }

    // Verify the message got set and is long enough
    if (! $("#message").attr("reset") || countWords($("#message").val()) < 5) {
      $("#messageBlock").addClass("has-error");
      swal({   
          title: "Come on, you gotta be more specific.",
          text: "I'm making sure you type at least five words, because you're supposed to give your Secret Santa some help. You know, real help. Or at least type funny words to fill space.",   
          type: "error"
        });
      return;
    } else {
      $("#messageBlock").removeClass("has-error");
    }

      // Package up the data
      data = {}

      data["message"] = $("#message").val();
      if (unchecked.length > 0) {
        data["unchecked0"] = unchecked[0];
      }
      if (unchecked.length > 1) {
        data["unchecked1"] = unchecked[1];
      }

      $.post("/group/{{group.key.urlsafe()}}/ready", data, function(){
        window.location.replace("/group/{{group.key.urlsafe()}}");
      });

    });
});

</script>
{% endblock %}