{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    
    <h1>The SantaBot of Awesome</h1>

    

	<p class="lead">
		This website exists to provide Secret Santa Services to a select group of super special somebodies.
	</p>

    {% if userRecord %}
    <p>
    	Welcome, {{ userRecord.name }}.
    </p>
    {% else %}
    <p>
        If you're one of those special somebodies, please <a href="{{users.create_login_url('/')}}">Sign In</a>.
    </p>
    {% endif %}
	

{% endblock %}