{% extends "base.html" %}
{% block title %}Welcome to Santabot{% endblock %}
{% block pagetitle %}Welcome to Santabot{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<p class="lead">Cybersantas are the best Santas.</p>

<p>Santabot lets interested folks join a Secret Santa group, provide feedback as to what they'd like and optionally people they'd rather not be Santa for, and then the Algorithm hands out gift assignments.</p>

 {% if userRecord %}
    {% if memberGroups %}
    <h2>Groups you're a part of</h2>
    <div class="row">
    {% for mg in memberGroups %}
        <div class="col-md-4">
            <h3><a href="/group/{{mg.group.key.urlsafe()}}"><i class="fa fa-gift"></i> {{mg.group.name}}
            {% if mg.pair %}
            <small> and have {{mg.pair.target}}</a>
            {% endif %}
            </a></h3>
        </div>
    {% endfor %}
    </div>

    {% else %}
    <p>You are not currently part of any groups. You need to ask for an invitation to join a group.</p>
    {% endif %}

    <div class="col-md-12">
    <h2>Start your own group</h2>
     <form role="form" action="/group/new" method="post" class="form-horizontal">
      <div class="form-group" id="nameBlock">
        <input type="text" class="form-control" name="groupName" placeholder="New group name, like 2014 Sales Party" id="groupName">
      </div>
      <button id="groupNew" type="submit" class="btn btn-default">Submit</button>
     </form>
    </div>
{% else %}
<p>
    If you're one of those special somebodies, please <a href="{{users.create_login_url('/')}}">Sign In</a>.
</p>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $("#groupNew").click(function(){
        if ($("#groupName").val().length < 4) {
            $("#nameBlock").addClass("has-error");
            return false;
        } else {
            $("#nameBlock").removeClass("has-error");
        }
    });
});
</script>
{% endblock %}