{% extends "base.html" %}
{% block title %}List of Groups{% endblock %}
{% block pagetitle %}List of Groups{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<div class="row block-row">
	{% for ent in listObj %}
	<div class="col-md-12">
		<h1>{{ent.group.name}}</h1>
		<p>
			<ul class="list-inline">
				
				{% if ent.group.registering == True %}
				<li><a href="/group/{{ent.group.key.urlsafe()}}">Registration link</a></li>
				<li><a href="/admin/group/{{ent.group.key.urlsafe()}}/close">Close registration</a></li>
				{% elif ent.group.runDate is none %}
				<li><a href="/admin/group/{{ent.group.key.urlsafe()}}/run">Run and send emails</a></li>
				{% else %}
				<li>Ran at {{ent.group.runDate}}</li>
				<li><a href="/admin/group/{{ent.group.key.urlsafe()}}">Reveal secrets</a></li>
				{% endif %}
			</ul>
		</p>


		<table class="table table-striped">
		  <tr>
		  	<th>Name</th>
		  	<th>Email</th>
		  	<th>Avoiding</th>
		  	<th>Join date</th>
		  	<th>Registration complete date</th>
		  </tr>
		{% for reg in ent.people %}
		  {% set person = reg.person.get() %}
		  <tr>
		  	<td>{{person.name}}</td>
		  	<td>{{person.email}}</td>
		  	<td>
		  		{% for frenemy in reg.prohibitedPeople %}
		  		{{frenemy.get().name}},
		  		{% endfor %}
		  	</td>
		  	<td>{{reg.createDate}}</td>
		  	<td>{{reg.completionDate}}</td>
		  </tr>
		{% endfor %}

		</table>

	</div>
	{% endfor %}
	<div class="col-md-12">
	 <form role="form" action="/admin/group/new" method="post">
	  <div class="form-group">
	    <label for="groupName">New Group Name</label>
	    <input type="text" class="form-control" name="groupName" placeholder="Be descriptive">
	  </div>
	  <button id="groupNew" type="submit" class="btn btn-default">Submit</button>
	 </form>
	</div>

</div>
{% endblock %}


{% block scripts %}
<script>


</script>
{% endblock %}