{% extends "base.html" %}
{% block title %}Santa Runs{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}

<div class="row block-row">
    <div class="col-md-12">
        <h1>
            Secrets of {{group.name}}
        </h1>


        {% if pairsList %}
        <table class="table table-striped">
            <tr>
                <th>Source</th>
                <th>Target</th>
            </tr>

            {% for pair in pairsList %}
            <tr>
                <td>{{pair.source.get().person.get().name}}</td>
                <td>{{pair.target.get().person.get().name}}</td>
            </tr>
            {% endfor %}

        </table>
        {% endif %}

    </div>
</div>
{% endblock %}