{% extends "base.html" %}
{% block title %}Santa Runs{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}
{% block content %}

<div class="row block-row">
    <div class="col-md-12">
        <h1>
            {{group.name}}
        </h1>

        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Options</th>
            </tr>

            {% for run in runs %}
            <tr>
                <td>{{run.date}}</td>
                <td>
                    <a class="btn btn-sm btn-info" role="button" href="/admin/listRunDetails/{{run.key.urlsafe()}}">Details</a>
                    <a class="btn btn-sm btn-danger emailSend" role="button" id="{{run.key.urlsafe()}}" href="#">Send email</button>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $(".emailSend").click(function(obj){
        var runKey = $(this).attr("id");
        $.post("/admin/listRunDetails/"+runKey, function(data){
            alert("Done!")
        });
    });
});

</script>
{% endblock %}